.page-wrapper{
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
}
.submit-button-wapper{
    position: ;
}

.back-button-wrapper{

}

.buttons-wrapper{
    width: 100%;
}

