.page-wrapper{
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
}

.dark-mode-container{
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-section{
    justify-content: center;
}